body{
	
	font-family: 'Roboto Slab', serif;
	text-align: justify;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #e2534b; 
}
.glyphicon-chevron-right, .glyphicon-chevron-right{
	border: 1px solid #fff;
}

.carousel-indicators li {
    border-color: #e2534b;
}

.carousel-indicators li.active {
    background-color: #e2534b;
}
.bg-viewmore{
	background-color: #F6F6F6;
	margin-bottom: 20px;
	border-radius: 5px;
	
}
.btn-view{
	padding-right: 20px;
	padding-left: 20px;
	font-size: 25px;
	text-align: center;
	margin-top: 30px;
	margin-right: 60px;
	color: #fff;
	background-color: #e2534b;
	border-bottom: 4px solid #f21509; 
	
}
.btn-view:hover{
	color: #e2534b;
	background-color: #fff;
	border: 1px solid #e2534b;
	border-bottom: 4px solid #f21509;
}
.dichvu{
	border-bottom: 4px solid #8f8f8f;
	background-color: #f6f6f6;
}
.dichvu:hover{
	background-color: #fff;
}
.btn-dichvu{
	font-size: 30px;
	text-align: center;
	color: #fff;
	background-color: #62bdbd;
	border-bottom: 4px solid #057272; 
	margin-bottom: -40px;
}
.btn-dichvu:hover{
	color: #fff;
	background-color: #e2534b;
	border-bottom: 4px solid #f21509; 
}
.dichvu .fa{
	font-size: 60px;
	color: #62bdbd;
}
.doimau{
	color: #e2534b !important;
}
.choose h2{
	font-size: 25px;
	color: red;
	text-transform: uppercase;
}
.choose{height: 500px;
}
.list{
	 list-style-type: none;
	 list-style-position:inside;
	 line-height: 2em;
	 letter-spacing: 0px;
	 text-align: left !important;
	 margin-left: -40px; 
}
.bg-footer .list{
	margin-top: 0px !important;
	margin-left: 0px !important; 

}
.bg-footer, .glyphicon-menu-right{
	background-color: #62bdbd;
	color: #fff !important;
}
.bg-footer .fa{
	font-size: 35px !important;
}
.bg-footer .fa:hover{
	color: #000;
	background-color: #62bdbd;
}
.list .glyphicon{ color: red; }
.bg-contact{background-color:#026666;}
.navbar {
    margin-bottom: 0;
    background-color: #62bdbd;
    opacity: 0.8;
    z-index: 9999;
    border: 0;
    font-size: 15px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
   
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff !important;
    background-color: #e2534b !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
.scrollToTop{
	width:100px; 
	height:130px;
	padding:5px; 
	position:fixed;
	top:450px;
	right:5px;
	display:none;
	background: url(../img/backtotop.png) no-repeat 0px 20px;
}
.scrollToTop:hover{
	text-decoration:none;
}
