body{
	margin-bottom: 20px;
	font-family: 'Roboto Slab', serif;
	text-align: justify;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #e2534b; 
}
.glyphicon-chevron-right, .glyphicon-chevron-right{
	border: 1px solid #fff;
}

.carousel-indicators li {
    border-color: #e2534b;
}

.carousel-indicators li.active {
    background-color: #e2534b;
}
.bg-viewmore{
	background-color: #F6F6F6;
	margin-bottom: 20px;
	border-radius: 5px;
	
}
.btn-view{
	padding-right: 20px;
	padding-left: 20px;
	font-size: 25px;
	text-align: center;
	margin-top: 30px;
	margin-right: 60px;
	color: #fff;
	background-color: #e2534b;
	border-bottom: 4px solid #f21509; 
	
}
.btn-view:hover{
	color: #e2534b;
	background-color: #fff;
	border: 1px solid #e2534b;
	border-bottom: 4px solid #f21509;
}
.dichvu{
	border-bottom: 4px solid #f6f6f6;
	background-color: #f6f6f6;
}
.dichvu:hover{
	background-color: #fff;
}
.btn-dichvu{
	font-size: 30px;
	text-align: center;
	color: #fff;
	background-color: #62bdbd;
	border-bottom: 4px solid #057272; 
	margin-bottom: -40px;
}
.btn-dichvu:hover{
	color: #fff;
	background-color: #e2534b;
	border-bottom: 4px solid #f21509; 
}
.dichvu .fa{
	font-size: 60px;
	color: #62bdbd;
}
.doimau{
	color: #e2534b !important;
}
.choose h2{
	font-size: 25px;
	color: red;
	text-transform: uppercase;
}
